aiogram==3.10.0
SQLAlchemy==2.0.30
asyncpg==0.29.0
aiofiles==23.2.1
redis==5.0.4
aiosqlite==0.20.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
alembic==1.13.1
pydantic==2.7.1
structlog==24.1.0
python-json-logger==2.0.7
tzdata==2024.1
pytest==8.2.2
Pillow==10.3.0
